.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ant-breadcrumb {
  font-size: 24px;
  color: black;
  font-weight: bold;
}
.todo-list {
  width: 60%;
  text-align: center;
  border: dodgerblue 2px solid;
  padding: 1% 5% 2%;
  margin-top: 2%;
  background-color: wheat;
}

.done-list {
  width: 60%;
  text-align: center;
  border: dodgerblue 2px solid;
  padding: 1% 5% 2%;
  margin-top: 2%;
  background-color: wheat;
}

.todo-group {
  text-align: left;
}

.todo-item {
  border: 2px solid black;
  padding: 8px 16px 8px 16px;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.todo-item div {
  cursor: pointer;
}

.todo-generator {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.todo-generator input {
  width: 100%;
  padding: 8px 16px 8px 16px;
  margin-right: 16px;
}

.todo-generator button {
}

.task-name.done {
  text-decoration: line-through;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.input{
  border: 2px solid black;
}

.ant-button{
  border: 2px solid black;
}
.ant-button:disabled{
  border: 2px solid black;
  background-color: darkgray;
}

.task-name{
  max-width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.task-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}
